
<body>
  <form  >

    <div class="container">
    
    <div class="form balance">
    
    <h2>Change Password</h2>
    
    <div class="inputbox">
    
    <input type="text" [(ngModel)]="accountNumber"   name="accnumber" pattern="[0-9]{10}" title="please enter a valid AccountNumber">
    
    <i class="fa-solid fa-check"></i>
    
    <span>Enter AccountNumber</span>
    
    </div>
    
    <div class="inputbox">
    
    <input type="password" [(ngModel)]="password" name="pinnumber"  pattern="[0-9]{04}" title="please enter a valid 4 digit number" minlength=4 maxlength=4>
    
    <i class="fa-solid fa-lock"></i>
    
    <span>Enter old password</span>
    
    </div>
    <div class="inputbox">
    
      <input type="password" [(ngModel)]="newPassword" name="pinnumber"  pattern="[0-9]{04}" title="please enter a valid 4 digit number" minlength=4 maxlength=4>
      
      <i class="fa-solid fa-lock"></i>
      
      <span>Enter New password</span>
      
      </div>

      <div class="inputbox">
    
        <input type="password" [(ngModel)]="confirmPassword" name="pinnumber"  pattern="[0-9]{04}" title="please enter a valid 4 digit number" minlength=4 maxlength=4>
        
        <i class="fa-solid fa-lock"></i>
        
        <span>Confirm password</span>
        
        </div>
    <div class="inputbox">
    
    <input type="submit" (click)="changePassword()" value="Change password">
    
    </div>
    
    </div>
    
    </div>
    
    </form>
</body>