<html>
<body>
  <ul>
           <li><a routerLink="/checkbalance" data-text="CheckBalance">CheckBalance</a></li>  
           <li><a routerLink="/accountinfo" data-text="My Account">MyAccount</a></li>
           <li><a routerLink="/checkbookrequest" data-text="CheckBookRequest">ChequeBookRequest</a></li>
           <li><a routerLink="/phonenumberchange" data-text="UpdatePhoneNumber">UpdatePhoneNumber</a></li> 
           <li><a routerLink="/loan" data-text="UpdateAddress">ApplyPersonalLoan</a></li> 
           <li><a routerLink="/changepassword" data-text="ChangePassword">ChangePassword</a></li> 
           </ul> 
           </body> 
           </html> 
